<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <script defer src="scripts/jquery-3.5.1.slim.min.js"></script>
  <script defer src="scripts/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="scripts/three.r95.min.js"></script>
  <script src="scripts/vanta.clouds.min.js"></script>

  <link href="styles/carousel.css" rel="stylesheet">
  <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172168030-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172168030-1');
</script>


  <style media="screen">
    @media (max-width: 600px) {

      body,
      #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
      }
    }
  </style>

</head>