<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="../logos/itage_logo_b_xsm_gray.png" class="img-fluid" alt="ITAGE Kalite Kontrol Makineleri">
        <small class="d-block mb-3 text-muted">© 2018-2020</small>
      </div>
      <div class="col-5 col-md">
        <h5>Kalite Kontrol Sistemleri</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Ölçüm Kalite Sistemi</a></li>
          <li><a class="text-muted" href="#">Uygunluk Kontrol</a></li>
          <li><a class="text-muted" href="#">Var-Yok Kontrolü</a></li>
          <li><a class="text-muted" href="#">Gıda Kalite </a></li>
          <li><a class="text-muted" href="#">Yüzey Kalite </a></li>

        </ul>
      </div>
      <div class="col-5 col-md">
        <h5>Servislerimiz</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Makine Revizyonu</a></li>
          <li><a class="text-muted" href="#">Ayıklama Verileri</a></li>
          <li><a class="text-muted" href="#">Özel Tasarım Sistem</a></li>
          <li><a class="text-muted" href="#">Teknik Destek ve Eğitim</a></li>
        </ul>
      </div>
      <div class="col-5 col-md">
        <h5>Kurumsal</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Hakkımızda</a></li>
          <li><a class="text-muted" href="#">Kariyer</a></li>
          <li><a class="text-muted" href="#">İletişim</a></li>
        </ul>
      </div>
    </div>
  </footer>